<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Navigace:</h3>
    <ul>
        <li><a href="/admin/employees">zaměstnanci</a></li>
        <li><a href="/admin/customers">zákazníci</a></li>
        <li><a href="/admin/repairs">opravy</a></li>
        <li><a href="/auth/profile">účet</a></li>
    </ul>
    <h1>Profile of <%= userName %></h1>
    <a href="/auth/logout">Logout</a>
</body>
</html>